.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
  width: 95%;
  align-items: center;
}

.a-tags {
  width: 200px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin: 10px;
  padding-left: 15px;
  color: rgba(0, 0, 0, 0.644);
  font-size: 14px;
  
}

.icons {
  width: 150px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin: 10px;
  padding-left: 15px;
}


